
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    background-image: url('image_accueil.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  button {
    display: inline-block;
    background-color: #0077cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button:hover {
    background-color: #005fa3;
  }
  

  /* Header styles */
  header {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 18px;
    color: #666;
  }
  
  /* Question styles */
  .question {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .question p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .question input[type="checkbox"],
  .question input[type="radio"] {
    margin-right: 10px;
  }
  
  .question label {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }
  
  .question textarea {
    display: block;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  .question input[type="checkbox"] + label,
  .question input[type="radio"] + label {
    display: inline-block;
  }
  
  /* Submit button styles */
  .submit-btn {
    text-align: center;
    margin-top: 20px;
  }
  
  .submit-btn button {
    font-weight: 400;
    font-size: 20px;
    margin: 0 auto;
    display: block;
  }

  .slider-value {
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }

  .correct {
    color: green;
  }
  
  .incorrect {
    color: red;
  }

  /* Styles pour le conteneur de la checkbox */
.checkbox-container {
  position: relative;
  margin-bottom: 10px;
  
}

/* Styles pour la checkbox */
.animated-checkbox {
  opacity: 0;
  position: absolute;
}

/* Styles pour l'aspect de la checkbox */
.animated-checkbox + label::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  font-size: 25px; /* Nouveau paramètre pour la taille de la flèche */
  border: 2px solid #ccc;
  border-radius: 2px;
  transition: all 0.2s ease;
  pointer-events: auto;
}

/* Styles pour l'animation de la checkbox lorsqu'elle est cochée */
.animated-checkbox:checked + label::before {
  content: '\2714';
  color: #4CAF50; /* Nouvelle couleur pour la flèche verte */
  background-color: #fff;
  border-color: #4CAF50; /* Nouvelle couleur pour la bordure */
  transition: all 0.2s ease;
}

textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  transition: border-color 0.2s ease-in-out;
}

textarea:focus {
  outline: none;
  border-color: #4caf50;
}

textarea::placeholder {
  color: #bbb;
}

textarea:hover, textarea:focus {
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.4);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #4caf50;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #4caf50;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

input[type="range"]:focus {
  opacity: 1;
}

input[type="range"]:hover::-webkit-slider-thumb, input[type="range"]:hover::-moz-range-thumb {
  background-color: #3e8e41;
}

input[type="range"]::-moz-focus-outer {
  border: 0;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

.create {
  padding: 1em;
}


/* Ajoutez un style pour la section de présentation */
.presentation {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.questionnaires {
  margin: 50px auto;
  max-width: 800px;
  text-align: center;
}

.questionnaires ul {
  list-style: none;
  padding: 0;
}

.questionnaires li {
  margin-bottom: 10px;
}

.questionnaires a {
  display: block;
  padding: 10px 20px;
  background-color: #2b2d42;
  color: #fff;
  text-decoration: none;
}

.questionnaires a:hover {
  background-color: #8d99ae;
}

